<h1 class=title>Lista de recursos</h1>

<section class="section-topics">
  <nav class="navbar navbar-light ">
    <form class="form-inline ">
      <%= form_tag my_topics_path, role: 'search', method: :get do %>
        <%= text_field_tag :topic_name, @topics_name, class: 'form-control mr-sm-2', placeholder: 'Nombre del recurso' %>
        <%= submit_tag 'Buscar', class: 'btn-search my-2 my-sm-0' %>
      <% end %>
    </form>
  </nav>
  <div class="card card-topics">
    <div class="table-responsive">
      <table class="table ">
        <thead class="bg-primary text-white">
          <tr>
            <th scope="col">Nombre </th>
            <th scope="col">Descripción</th>
            <th scope="col">Categoría</th>
            <th scope="col">Ver</th>
          </tr>
        </thead>
        <% @topics.each do |topic| %>
          <tbody class="">
            <tr>
              <th scope="row"><%= topic.name %></th>
              
              <td><%=truncate(topic.description, length:30) %></td>
              <td><%= topic.id %></td>
              <td><%= link_to " Ver más ↗", topic, class:"btn btn-small btn-success"%></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
  <div class="row row-pagy">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</section>
