<nav class="left">
  <div class="item menu">
      <i class="fas fa-fw fa-bars nav-icon"></i>Menú
  </div>
  
  <div class="item">
    <%= link_to root_path do %> 
      <img src="/logo.jpg" alt="Logo" class="img-logo rounded-circle text-white"><span class="name-logo">Learning Guide</span>
    <% end %>
  </div>
  
  <hr class="divider">
  <% if user_signed_in? %>

    <div class="item">
        <i class="far fa-list-alt nav-icon"></i> <%= link_to "Categorias", my_categories_path, class: "text-white" %>
    </div>
    
    <div class="item">
        <i class="fas fa-plus-square nav-icon"></i> <%= link_to 'Crear Categoria', new_category_path, class: "text-white" %>
    </div>

    <hr class="divider">

    <div class="item">
        <i class="fab fa-leanpub nav-icon"></i> <%= link_to "Recursos", my_topics_path, class: "text-white" %>
    </div>
    
    <div class="item">
        <i class="fas fa-edit nav-icon"></i> <%= link_to 'Crear recurso', new_topic_path, class: "text-white" %>
    </div>

    <hr class="divider">

    <div class="item">
        <i class="fas fa-book nav-icon"></i> <%= link_to "Agenda", my_schedules_path, class: "text-white" %>
    </div>
    
    <div class="item">
        <i class="fas fa-edit nav-icon"></i> <%= link_to 'Crear agenda', new_schedule_path, class: "text-white" %>
    </div>

    <hr class="divider">

    <div class="item">
      <i class="fas fa-headphones nav-icon"></i><a class="text-white" target="_blanck" href="https://soundcloud.com/discover">Oir música</a>
    </div>
    
    <div class="item">
      <i class="fas fa-sign-out-alt nav-icon"></i> <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "text-white" %>
    </div>

  <% else %>
  <!--  <div class="item afiliarse">
      <i class="fas fa-handshake nav-icon"></i> <a href="https://web.sportplusapp.com/afiliarse/" class="text-white" target="_blank">Afiliarse</a> 
    </div>-->

    <div class="item active">
      <!--<i class="fas fa-check-square nav-icon"></i><%# link_to "Registrarse",  new_user_registration_path, class: "text-white" %>-->
    </div>

    <div class="item active">
      <i class="fas fa-sign-in-alt nav-icon"></i><%= link_to "Iniciar Sesión",  new_user_session_path, class: "text-white" %>
    </div>
  <% end%>
</nav>

