<!DOCTYPE html>
<html>
  <head>
    <link  rel="icon"   href="/logo_url.png" type="image/png" />
    <title>Elearning Guide</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="app/assets/stylesheets/application.css" rel="stylesheets">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"/>
  </head>
  <body>
    <% if notice %>
      <p class="alert alert-success col-md-3 col-md-offset-4 text-center mx-auto"role="alert" style="font-size: 12px; padding: 7px; width: 300px;"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger col-md-3 col-md-offset-4 text-center mx-auto"role="alert" style="font-size: 12px; padding: 7px; width: 300px;"><%= alert %></p>
    <% end %>
    <%= render 'layouts/header' %>
    <div class="container-fluid">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
